:root {
    --primary-color: #83a7e2;
    --secondary-color: #eeeeee;
    --accent1-color: hsl(188, 29%, 90%);
    --accent2-color:#9bcfe0;
    --heading-font: "Open Sans", sans-serif;
    --body-font: "josefin", sans-serif
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 125px 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border-bottom: 2px solid #ccc;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1{
    font-size: 2.5rem;
    font-family: Open, Josefin, sans-serif;
    color: #83a7e2;
    margin: 0;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: Josefin, sans-serif;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    padding: 20px;
    color: rgb(177, 177, 243);
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: rgb(39, 144, 236);
    font-weight: bold;
    text-decoration: underline;
}

body{
    font-family: Open, Josefin, sans-serif;
}

article {
    margin: 1em auto;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1em;
    background-color: #83a7e2;
    width: min(600px, 100%);
    font-size: 1.2rem;
}

.history{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #83a7e2;
    padding: 2rem;
    text-align: center;
}
.socialmedia a{
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}