:root {
    --primary-color: #e4ebf6;
    --secondary-color: #eeeeee;
    --accent1-color: hsl(188, 29%, 90%);
    --accent2-color:#e8f0f2;

    --heading-font: "Open Sans", sans-serif;
    --body-font: "josefin", sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(#071421);
    background-color: lab(89.37% -0.19 -4.49);
}

header, main, footer {
    width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(#071421);
    margin-bottom: 0.5rem;
}

nav, p, section, article {
    margin: 20px;
    padding: 8px;
}

header {
    display: grid;
    grid-template-columns: 120px 2fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(#091017);
}


header img {
    width: 100px;
    height: auto;
}

nav li a {
    text-decoration: none;
    color: var(#091017);
    padding: 0,5rem 1rem;
}

nav li a:hover,
nav li a.active {
    background-color: var(#091017);
    color: rgb(19, 13, 13);
    border-radius: 4px;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--accent1-color);
    color: rgb(30, 13, 13);
    opacity: 0.85;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 400px;
    background-color: rgba(116, 107, 171, 0.9);
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 1rem;
    border-radius: 50%;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    background-color: #030d1c;
    padding: 2rem;
    border-radius: 8px;   
}  
.history img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}  

.adventures{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background-color: #091017;
}

.adventures figure {
    width: 150px;
    text-align: center;
}

.adventures img{
    width: 100%;
    height: auto;
    border-radius:6px;
}

.adventures figcaption {
    margin: 0.5rem;
    font-weight: bold;
    color:#080d13;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(#091017);
    color: var(#071421);
    margin-top: 2rem;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {

    width: 32px;
    height: auto;
}
