*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #004466;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

.profile {
    float: right;
    max-width: 200px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

aside {
    width: 20em;
    text-align: center;
    position: relative
}

aside img {
    width: 400px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 22px;
    left: 150px;
    background-color: rgba(57, 55, 55, 0.7);
    color: #fff;
    padding: 0.5rem;
}
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(#ccc);
    padding: 1rem;
    background-color: #f9f9f9;
    color: #333;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #ddd;
    margin-top: 2rem;
    font-size: 0.9rem;
}
